{%extends 'main/base.html'%}

{%block content%}

<h3>{{movie.title}}&nbsp;|&nbsp;{{movie.watched}} Watches</h3>
<body>
    {{movie.synopsis}}
</body>
<br></br>

<h6>{{discussionpost.user}}</h6>
<h5>{{discussionpost.post}}&nbsp;</h5>

<h7>&nbsp;{{discussionpost.post_likes}} Likes</h7>
<br>
<br>
<body>
    {% for comment in discussionpost.comment_set.all %}
        {{comment.user}}
        <li>{{comment.comment}}</li>
        <br>
    {%endfor%}
</body>
<br>
<br>
<form method = "POST" action = "{% url 'toggle_likes' name title id%}">
    {%csrf_token%}
    {% if liked.liked%}
        <button type = "submit" class = "btn btn-success">Liked</button>
    {%else%}
        <button type = "submit" class = "btn btn-success">Not Liked</button>
    {%endif%}
</form>
<br>
<br>
<form method = "post" action ="#">
    {%csrf_token%}
    {{form}}
    <button type = "submit", name = "save">Create New</button>
</form>

{% endblock %}