{%extends 'main/base.html'%}

{%block content%}

<h3>{{movie.title}}&nbsp;|&nbsp;{{movie.movie_likes}} Likes</h3>
<body>
    {{movie.synopsis}}
</body>
<br></br>

<h6>{{discussionpost.user}}</h6>
<h5>{{discussionpost.post}}</h5>
<body>
    {% for comment in discussionpost.comment_set.all %}
        <li>{{comment.comment}}</li>
        <br>
    {%endfor%}
</body>
<br>
<br>
<br>
<br>
<form method = "post" action ="#">
    {%csrf_token%}
    {{form}}
    <button type = "submit", name = "save">Create New</button>
</form>

{% endblock %}