{%extends 'main/base.html'%}

{%block content%}

<h1 style = "text-align: center;">
    <img src = "https://lh5.googleusercontent.com/w7SdfN9bz2chxEhdEbST-Ty4NDG-Hk4KD5hnATV05iNf8BtaGnTlJgchDAHMWUyvItA=w2400"
    width="700"></h1>
<h3 style = "text-align: center;">Home Page</h3>
<br>
<h5 style = "text-align: center;"> Welcome to After Image!</h5>

<br>

<h5 style = "text-align: center;">
    Monthly Movies
</h5>

<ul style = "margin: 0 auto; text-align: center; margin-left: -50px"> 
    {% for movielist in ls %}
    <a href= "{%url 'month' movielist.name%}">{{movielist.name}}</a>
    <br>
    
    {%endfor%}
    
</ul>



{%endblock%}
