
{%extends 'main/movie.html'%}

{%block content%}
{{block.super}}
<br>
<br>
<h5>High School</h5>

<p>Drag to scroll ➡️</p>

<body>
<!-- test123 -->
<div id="image-track" data-mouse-down-at="0" data-prev-percentage="0">
    <img class="image" src="https://images.unsplash.com/photo-1604134967494-8a9ed3adea0d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8c2Nob29sfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" draggable="false" />
    <div class="caption">High School is a 1968 American documentary film by Frederick Wiseman that shows a typical day for students and faculty at a Pennsylvanian high school during the late 1960s.</div>
    <img class="image" src="https://images.unsplash.com/photo-1593588332695-cd49488a8ec8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzY5fHxzY2hvb2x8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" draggable="false" />
    <div class="caption">It is one of the first direct cinema (or cinéma vérité) documentaries.</div>
    <img class="image" src="https://images.unsplash.com/photo-1647424865498-0ba868f72d91?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8ODN8fGhpZ2hzY2hvb2x8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" draggable="false" />
    <div class="caption">It was shot over five weeks between March and April 1968 at Northeast High School in Philadelphia, Pennsylvania.</div>
    <img class="image" src="https://images.unsplash.com/photo-1547317213-f1949d62ea17?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aGlnaHNjaG9vbHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" draggable="false" />
    <div class="caption">The film was not shown in Philadelphia at the time of its release, because of Wiseman's concerns over what he called "vague talk" of a lawsuit.</div>
    <img class="image" src="https://images.unsplash.com/photo-1549980384-d61217e50c4b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjl8fHNjaG9vbHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" draggable="false" />
    <div class="caption">The film was released in November 1968. High School has aired on PBS.</div>
    <img class="image" src="https://images.unsplash.com/photo-1609984354032-8ad3b2c3e0d8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTgwfHxzY2hvb2x8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" draggable="false" />
    <div class="caption">Wiseman distributes his work (DVDs and 16mm prints) through Zipporah Films, which rents them to high schools, colleges, and libraries on a five-year long-term lease.</div>
    <img class="image" src="https://images.unsplash.com/photo-1591025612036-76a0a9674b81?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjA4fHxzY2hvb2x8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" draggable="false" />
    <div class="caption">High School was selected in 1991 for preservation in the National Film Registry.</div>
    <img class="image" src="https://images.unsplash.com/photo-1527187162622-535b785f65f5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8aGlnaHNjaG9vbHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" draggable="false" />
    <div class="caption">In 1994, Wiseman released High School II, a second documentary on high school, based on Central Park East Secondary School in New York City.</div>
    
  </div>
</body> 
    <style>
      body {
        height: 100vh;
        width: 100vw;
        background-color: black;
        margin-top: 10px 0 0 0;
        padding-top: 100px; /* use padding-top instead of margin-top */
        overflow-x: hidden; 
        overflow-y: scroll; 
      }
  
      #image-track {
        display: flex;
        gap: -4vmin;
        position: absolute;
        left: 20%;
        top: 160%;
        transform: translate(-30%, -50%); 
        user-select: none; 
      }
  
      #image-track > .image {
        width: 40vmin;
        height: 56vmin;
        object-fit: cover;
        object-position: 100% center;
      }
      .caption {
        color: white; /* set the color of the caption text */
        font-size: 1.2rem; /* set the font size of the caption text */
        margin-top: 1rem; /* add some space between the image and caption */
        transform: translate(-450px, 600px);
        width: 400px; /* adjust the width as desired */
       
    }
    </style>

<script>
    const track = document.getElementById("image-track");

const handleOnDown = e => track.dataset.mouseDownAt = e.clientX;

const handleOnUp = () => {
  track.dataset.mouseDownAt = "0";  
  track.dataset.prevPercentage = track.dataset.percentage;
}

const handleOnMove = e => {
  if(track.dataset.mouseDownAt === "0") return;
  
  const mouseDelta = parseFloat(track.dataset.mouseDownAt) - e.clientX,
        maxDelta = window.innerWidth / 2;
  
  const percentage = (mouseDelta / maxDelta) * -100,
        nextPercentageUnconstrained = parseFloat(track.dataset.prevPercentage) + percentage,
        nextPercentage = Math.max(Math.min(nextPercentageUnconstrained, 0), -100);
  
  track.dataset.percentage = nextPercentage;
  
  track.animate({
    transform: `translate(${nextPercentage}%, -50%)`
  }, { duration: 1200, fill: "forwards" });
  
  for(const image of track.getElementsByClassName("image")) {
    image.animate({
      objectPosition: `${100 + nextPercentage}% center`
    }, { duration: 1200, fill: "forwards" });
  }
}

/* -- Had to add extra lines for touch events -- */

window.onmousedown = e => handleOnDown(e);

window.ontouchstart = e => handleOnDown(e.touches[0]);

window.onmouseup = e => handleOnUp(e);

window.ontouchend = e => handleOnUp(e.touches[0]);

window.onmousemove = e => handleOnMove(e);

window.ontouchmove = e => handleOnMove(e.touches[0]);
</script>


<!-- {% endblock %} -->