
{%extends 'main/movie.html'%}

{%block content%}
{{block.super}}
<br>
<br>
<div class="main">
    <div class = "info">
        <h1 style="text-align: center;">More Information About</h1>
        <h2 style="text-align: center;">Top Gun: Maverick</h2>
        <h3 style="text-align: center;">Powerful Love Letter to Aviation</h3>
    </div>
    <div class = "info1">
        <hr color="#0000">
        <h5 style="color: black;" >Director: Joseph Kosinski</h5>
        <hr color="#0000">
        <h5 style="color: black;">Taglines: Fell the need... The need for speed.</h5>
        <hr color="#0000">
        <h5 style="color: black;">Genres: Action, Drama</h5>
        <hr color="#0000">
        <h5 style="color: black;">Rated: PG-13, intense action, strong language</h5>
        <hr color="#0000">
    </div>
    <div class = "facts">
        <h1 style="text-align: center;">Interesting Facts</h1>
    </div>
    <div class = "info2">
        <hr color="#0000">
        <h5 style="color: black;">Trivia</h5>
        <h7 style="color: black;">
            Many movies todays are reliant on green screen and CGI, however Tom Cruise
            insisted to keep that to a minimum. Aerial shots were captured by
            inflight and on ground cameras, while the acrobatics were
            performed by real pilots, even the up close cockpit shots were taken
            during flights to capture the casts expression. This meant the casts
            had to undergo real-life pilot training to prepare for this experince.
            This combination provided the audience as close to real-life experience,
            a ride along. 
        </h7>
        <br>
        <br>
        <h7 style="color: black;">
            According to Miles Teller, the actor of Rooster, son of 
            Goose from the previous movie, the cast got to choose their own call
            signs. Miles Teller chose Rooster as it is in the same family
            as his fathers call sign.
        </h7>
        <br>
        <br>
        <h7 style="color: black;">
            According to Miles Teller, many casts threw up during inflight filming,
            as many of the shots taken were real. Casts experienced lots of G-forces
            during filming.
        </h7>
        <br>
        <br>
        <h7 style="color: black;">
            During the cockpit sceens, the cast had to film themselves, taking
            advice from Tom Cruise, everyone had to know when to cut,
            adjust lighting, handle thier own sound. Footage could not be
            reviewed until the actors have landed, if shots werent up to standard,
            actors would have to take off again and refilm.
        </h7>
        <hr color="#0000">
        <h5 style="color: black;">Movie Errors</h5>
        <h6 style="color: black;">
            Plot holes
        </h6>
        <h7 style="color: black;">
            Admiral Cain in the earlier part of the film disregarded the needs
            for pilots as technology has brought unmanned aerial vehicles 
            (regarded as drones), no more need to risk human lives. However,
            this was no mentioned during the rest of the movie, espically during
            the final mission, seems like an oversight. 
        </h7>
        <h6 style="color: black;">
            Errors
        </h6>
        <h7 style="color: black;">
            As pointed out by real fighter jet pilots in the USAF, 
            the SAMs that were shooting missles at the four protagonist planes in 
            the final fight, should of blew up and damanged the protagonist, even
            if the missles does not directly hit, as SAM missles are detonated via
            proximity, not direct hit.
        </h7>
        <br>
        <br>
        <h7 style="color: black;">
            Since the mission target was guarded by enemy radar, aircrafts, and SAM sites,
            the pilots would of had a better fighting
            chance in using a 5th Gen fighter to level the playing field, or even
            the navy using UAVs to prevent risking the lives of their pilots. Futher more,
            the same Tomahawk cruise missiles used to destroy the enemy airbase could
            of destroy the mission target as well. The choice to send pilots using
            a older generation fighter is questionable at best.
        </h7>
        <hr color="#0000">
        <h5 style="color: black;">Quotes</h5>
        <h7 style="color: black;">
            Admiral: 'Distinguished.' 'Distinguished.' 'Distinguished.' Yet you can't get a
            promotion. You won't return, and dispite your best efforts, you
            refuse to die. You should be atleast a two-star admiral by now, if not a senator. Yet here you are:
            Captain. Why is that?
        </h7>
        <br>
        <br>
        <h7 style="color: black;">
            Admiral: Call came in with impeccable timing, 
            right as I was driving here to ground your ass once and for all.
            It galls me to say it, but... for reasons known only to the 
            Almighty and your guardian angel, you've been called back to TOPGUN.
        </h7>
        <br>
        <br>
        <h7 style="color: black;">
            Admiral: Call came in with impeccable timing, 
            right as I was driving here to ground your ass once and for all.
            It galls me to say it, but... for reasons known only to the 
            Almighty and your guardian angel, you've been called back to TOPGUN.
        </h7>
        <br>
        <br>
        <h7 style="color: black;">
            Mav: Maybe so, sir. But not today.
        </h7>
        <hr color="#0000">
        <h5 style="color: black;">Hit Soundtracks</h5>
        <h7 style="color: black;">
            Danger Zone
        </h7>
        <br>
        <br>
        <h7 style="color: black;">
            Hold My Hand
        </h7>
        <br>
        <br>
        <h7 style="color: black;">
            I Ain't Worried
        </h7><hr color="#0000">
    </div>
    <div class = "captures">
        <h1 style="text-align: center;">Screen Captures</h1>
    </div>
    <div class = "info3">
        <h5 style="color: black;">
            Since there was little CGI and green screens used
            the cinematography captures the beauty and experiences that cannot be
            experienced by the broad population. This movie gives the 
            audience a unforgettable sight. 
        </h5>
        <h5 style="text-align: center;">
            <a href="https://www.cnet.com/culture/entertainment/top-gun-maverick-first-reactions-emotional-sequel-sends-critics-to-the-danger-zone/">
            <img src = "https://www.cnet.com/a/img/resize/68ee33049fc48b84bcb9f179ea49b4b4e2bd7fc8/hub/2019/07/18/c7c8bc91-9a17-45ef-9ef2-e80032f8b64b/top-gun-maverick-1200x676.jpg?auto=webp&fit=crop&height=675&width=1200"
            height="400">
            </a>
            <a href="https://theasc.com/articles/top-gun-maverick">
            <img src = "https://theasc.com/imager/uploads/113128/Top-Gun-Maverick-Tom-Cruise_6c0c164bd2b597ee32b68b8b5755bd2e.jpg"
            height="400">
            </a>
            <a href="https://theasc.com/articles/top-gun-maverick">
            <img src = "https://cms-assets.theasc.com/Top-Gun-Maverick-U.S.-Navy-fighting-machines.jpg"
            height="400">
            </a>
            <a href="https://www.military.com/off-duty/movies/2022/06/01/top-gun-maverick-trailer-powerful-love-letter-naval-aviation.html">
            <img src = "https://images04.military.com/sites/default/files/styles/full/public/2022-06/mil%20top%20gun%20navy%20aviation%201200.jpg?itok=n9X6lQUN"
            height="400">
            </a>
        </h5>
        </h7>
    </div>
</div>
<body>
    <style type="text/css">
        .main{
            background-color: #97aec9;
            background-image: url("https://static01.nyt.com/images/2022/05/29/business/29box-4/merlin_207080559_d302b636-070e-4293-8150-3426e34db3fa-mobileMasterAt3x.jpg");
            background-blend-mode: lighten;
        }
        .info {
            margin: 0 auto;
            width:auto;
            background-color: gray;
        }
        .info1{
            border:25px solid#0000;
        }
        .facts {
            margin: 0 auto;
            width: auto;
            background-color: gray;
        }
        .info2{
            border:25px solid#0000;
        }
        .captures{
            margin: 0 auto;
            width: auto;
            background-color: gray;
        }
        .info3{
            border:25px solid#0000;
        }
    </style>
</body>

{% endblock %}
