
{%extends 'main/movie.html'%}

{%block content%}
{{block.super}}
<br>
<br>
<div class = "main">
    <div class = "info">
        <h1 style="text-align: center;">More Information About</h1>
        <h2 style="text-align: center;">Decision to Leave</h2>
    </div>
    <div class = "info1">
        <h5 style="color: black;">Director: Park Chan-wook</h5>
        <hr color="#0000">
        <h5 style="color: black;">Genres: Crime, Drama, Mystery, Romance, Thriller</h5>
        <hr color="#0000">
    </div>
    <div class = "facts">
        <h1 style="text-align: center;">Interesting Facts</h1>
    </div>
    <div class = "info2">
        <h5 style="color: black;">Trivia</h5>
        <h7 style="color: black;">
            The inspiration of this film was based on the Swedish crime novel series
            "The Story of a Crime", following an aging police dectve and are known for thier
            social critique. The new angle is "what if the officer fell in love
            with the suspect?"
        </h7>
        <br>
        <br>
        <h7 style="color: black;">
            Director mentioned the use of cell phone POV shots was used to
            show the characters are looking at their devices and at each other.
        </h7>
        <br>
        <br>
        <h7 style="color: black;">
            Through out the film, many octopuses can be noticed hanging in the
            background in the fish market. This is the directory sign.
        </h7>
        <hr color="#0000">
        <h5 style="color: black;">Quotes</h5>
        <h7 style="color: black;">
            Seo-rae: The moment you said you loved me, your love is over. 
            The moment your love ends, my love begins.
        </h7>
        <br>
        <br>
        <h7 style="color: black;">
            Seo-rae: I'm Chinese, and my Korean is insufficient.
        </h7>
        <hr color="#0000">
        <h5 style="color: black;">Soundtracks</h5>
        <h7 style="color: black;">
            Mist
        </h7>
        </h7><hr color="#0000">
    </div>\
    <div class = "captures">
        <h1 style="text-align: center;">Screen Captures</h1>
    </div>
    <div class = "info3">
        <h5 style="text-align: center;">
            <a href="https://www.vanityfair.com/hollywood/2022/10/awards-insider-decision-to-leave-shot-list-park-chan-wook">
            <img src = "https://media.vanityfair.com/photos/635ff07fc7fa89808f3044ee/master/w_960,c_limit/dtl3.jpeg"
            height="400">
            </a>
            <a href="https://www.vanityfair.com/hollywood/2022/10/awards-insider-decision-to-leave-shot-list-park-chan-wook">
            <img src = "https://media.vanityfair.com/photos/635ff0bb578d980751943c99/master/w_960,c_limit/dtl4.jpeg"
            height="400">
            </a>
            <a href="https://www.vanityfair.com/hollywood/2022/10/awards-insider-decision-to-leave-shot-list-park-chan-wook">
            <img src = "https://media.vanityfair.com/photos/635ff1455fdfff0599deb283/master/w_960,c_limit/dtl6.jpeg"
            height="400">
            </a>
        </h5>
    </div>
</div>
<body>
    <style type="text/css">
        .main{
            background-color: #97aec9;
            background-image: url("https://www.saobserver.net/wp-content/uploads/2022/11/31104764_web1_221125-SAA-C-Cinemaphile-Decision-to-Leave_1.jpg");
            background-blend-mode: lighten;
        }
        .info {
            margin: 0 auto;
            width:auto;
            background-color: gray;
        }
        .info1{
            border:25px solid#0000;
        }
        .facts {
            margin: 0 auto;
            width: auto;
            background-color: gray;
        }
        .info2{
            border:25px solid#0000;
        }
        .captures{
            margin: 0 auto;
            width: auto;
            background-color: gray;
        }
        .info3{
            border:25px solid#0000;
        }
    </style>
</body>
{% endblock %}
