{%extends 'main/movie.html'%}

{%block content%}
{{block.super}}
<br>
<br>
<style>
    body {
        background: linear-gradient(#FFA500 0%, #FFA500 50%);
        background-size: 100%;
    }
</style>


<div class="container">
    <div class="content">
        <div class="card glassmorphism mb-4">
            <div class="card mb-3"
                style="background-color: rgba(0, 128, 0, 0.197); backdrop-filter: blur(10px); border: none;">
                <img src="https://lh6.googleusercontent.com/j8txvRIU_Knjp_Z_uM3oWzD-qm1f02X1PkM-s1QVy3zT9tjL5OB-V6N-KMCKFRMa8-0=w2400"
                    class="card-img-top" alt="InformationPiece 1">
                <div class="card-body">
                    <h3 class="card-title">Directed by: Vera Chytilová (1929-2014)</h3>
                    <p class="card-text" style="font-size: 20px;"> Vera Chytilová had 9 wins and 10 nominations accululmated throughout her
                        lifetime which makes her quite successful. She had a daring and ruthless character personality who refused to make 
                        compromises. One could argue that her daring attitude helped her achieve more success throughout her life. A movie
                        with such a bold and experienced director is a must watch! <br></br>
                        You don't really begin working creatively until you are at a point where you don't know. - Vera Chytilová
                    </p>
                </div>
            </div>
        </div>
        <div class="card glassmorphism mb-4">
            <div class="card mb-3"
                style="background-color: rgba(0, 128, 0, 0.197); backdrop-filter: blur(10px); border: none;">
                <img src="https://lh5.googleusercontent.com/PCZQx_NSrrh-IQjJR6d9v-5dQBWxJx4q5wXIXZuAemIjm8Lj6RuEfnkP7hjRSmtuYiI=w2400"
                    class="card-img-top" alt="InformationPiece 2">
                <div class="card-body">
                    <h1 class="card-title" style="text-align: center;">Award winning movie!</h1>
                    <p class="card-text" style="font-size: 20px;">"Something different" won the Grand Prize award during the 
                        Mannheim-Heidelberg International Filmfestival at 1963. This movie owes its success to the remarkable
                        skills of its director and writer, Vera Chytilová. </p>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .glassmorphism {
        background-color: rgba(255, 255, 255, 0.197);
        border-radius: 20px;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(15px);
        transition: all 0.4s ease;
    }

    .glassmorphism:hover {
        transform: scale(1.03);
    }
</style>


{% endblock %}