{%extends 'main/base.html'%}

{%block content%}

<body>

    <div class="jumbotron">
        <div class="container">
            <h1 style="color: black;">About Us</h1><br>
            <h5 style="color: black;">What is After Image?</h5>
            <p style="color: black;" class="lead">Content is everywhere more than ever. Sports, social media, tv, film, and vertical media are among a sea of
                products competing for our attention daily. Film is one of those mediums that requires the most attention and time.
                Because of this, social media around film has become focused primarily on ratings or how ”good” a piece of content
                is. With attention in limited supply, these ratings have become instrumental in sifting through everything to find
                something worth their time. Rotten Tomatoes is a crucial example of this, with the Tomatometer becoming a key
                indicator of a film's success. But this obsession with criticism has, in our opinion at After Image, proved detrimental
                to the viewing experience. Instead of enjoying a movie and discussing its themes, the audience's reaction is more
                attuned to the Rotten Tomatoes approach.</p>
            <p style="color: black;" class="lead">After Image is a social media discussion platform that has ten movies highlighted each month, each with 
                different budgets, languages, mediums and time periods. Users can be part of a global film club to watch and
                discuss the same films each month. Its a place where advertising, Rotten Tomatoes and ratings matter less and where deciding
                what to watch is less tiresome.</p>
            <p style="color: black;" class="lead">Users can log into an account, create a profile, browse through different films and read the posts and discussion threads
                associated with each film. They can contribute to the discussion, create threads, and save/favorite posts they enjoy. Film criticism 
                is still welcome but so is analysis or any sort of engagement. </p>
            <br>
            <h5 style="color: black;" >Our Mission</h5>
            <p style="color: black;" class="lead">Our purpose with After Image is, first and foremost, to foster an online community for genuine engagement
                and love for film. Different features will be proposed, created, removed and adapted to serve that goal.</p>
            <br><h5 style="color: black;"> Current Constraints on 10 Films </h5>
            <p class="lead">
                <li style="color: black;" class="lead">Film must be longer than 40 minutes</li>
                <li style="color: black;" class="lead">4 New Releases (Wide Release Within Last Year)</li>
                <li style="color: black;" class="lead">1 Local Film</li>
                <li style="color: black;" class="lead">1 Documentary</li>
                <li style="color: black;" class="lead">2 Animations</li>

                <li style="color: black;" class="lead">1 Film from 1900-1939</li>
                <li style="color: black;" class="lead">1 Film from 40s-50s</li>
                <li style="color: black;" class="lead">1 Film from 60s-70s</li>
                <li style="color: black;" class="lead">1 Film from 80s-90s</li>
                <li style="color: black;" class="lead">1 Film from 2000s-2010s</li>
                <li style="color: black;" class="lead">1 No-Budget/Folk Film (Personal Project)</li>
                <li style="color: black;" class="lead">1 Micro-Budget	</li>
                <li style="color: black;"class="lead">2 Moderate Low </li>
                <li style="color: black;" class="lead">1 Theatrical Budget</li>
                <li style="color: black;" class="lead">No More than 6 Films in the Same Language</li>
                <li style="color: black;" class="lead">No More than 4 Films from the Same Country</li>
                <li style="color: black;" class="lead">Film Cannot have been Highlighted in the Past Year</li></p>
        </div>
    </div>
    

    <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2>Contributors</h2>
            <hr class="star-primary">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <img src="">
            <h3>Maxwell Couture</h3>
            <p>Project Manager/Team Lead</p>
          </div>
          <div class="col-sm-4">
            <img src="">
            <h3>Bryant Zhang</h3>
            <p>Front-end Software Developer</p>
          </div>
          <div class="col-sm-4">
            <img src="">
            <h3>Umair Tariq</h3>
            <p>Back-end Software Developer</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <img src="">
            <h3>Hamza Lodhi</h3>
            <p>Front-end Software Developer</p>
          </div>
          <div class="col-sm-4">
            <img src="">
            <h3>Johnny Yuen</h3>
            <p>Back-end Software Developer, Scribe</p>
          </div>
          <div class="col-sm-4">
            <img src="">
            <h3>Tony Tan</h3>
            <p>Front-end Software Developer, UX Designer</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 col-sm-offset-2">
            <img src="">
            <h3>Evan Wong</h3>
            <p>Back-end Software Developer, UX Designer</p>
            <br>
          </div>
        </div>
      </div>
      
{%endblock%}
