{%extends 'main/base.html'%}

{%block content%}
<div class = "main">
    <div class = "movieTittle">
        <h3 style="color: black;">{{movie.title}}&nbsp;|&nbsp;{{movie.watched}} Watches</h3>
    </div>
    <body style="color: black;">
        {{movie.synopsis}}
    </body>
    <hr color="#39c6fe">
    <h3>Discussion Posts</h3>
   <div class = "posts">
        <body >
            {% for discussionpost in discussionposts %}
            {{discussionpost.user}}
            <div class = single>
                <a style="color: black;"  href= "{%url 'discussionpost' discussionpost.movie.movie_list.name discussionpost.movie.title discussionpost.id%}">{{discussionpost.post}}&nbsp;</a>
            </div>
            <a style="color: #39c6fe;"> &nbsp;{{discussionpost.post_likes}} Like</a>
            <br>
            {%endfor%}
        </body>
   </div>
</div>

<body>
    <style type="text/css">
        .main{
            border:25px solid#0000;
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 30px;
            margin-bottom: 30px;
            background-color: aliceblue;
        }
        
        .posts{
            border:1px solid#000000;
            background-color: white;
            padding: 0 40px;
        }
        .single{
            border:1px solid#000000;
            padding-left: 5px;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-right: 5px;
        }
    </style>
</body>
{% endblock %}
