{%extends 'main/base.html'%}

{%block content%}
<h3>{{movie.title}}&nbsp;|&nbsp;{{movie.watched}} Watches</h3>
{% if movie.image %}
<img src="{{ movie.image.url }}" alt="img" style="height: 500px; width: auto; margin-right: 20px;" class="float-right">
{% endif %}
<body>
    release date
    <br>
    {{movie.release_date}}
    <br>
    length
    <br>
    {{movie.length}} minutes
    <br>
    synopsis<br>
    {{movie.synopsis}}
</body>
<br>
<br>
<br>
<br>
<form method = "post" action ="#">
    {%csrf_token%}
    {{form}}
    <button type = "submit", name = "save">Create New</button>
</form>
<form method = "POST" action = "{% url 'toggle_watched' name title%}">
    {%csrf_token%}
    {% if watched.watched%}
        <button type = "submit" class = "btn btn-success">Watched</button>
    {%else%}
        <button type = "submit" class = "btn btn-success">Not Watched</button>
    {%endif%}
</form>
<br>
<br>

<h3>
    <a href= "{%url 'discussionposts' ls.name movie.title %}">Discussion Posts</a>
    </h3>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<button onclick="goBack()">Return to Movies</button>

<script>
function goBack() {
    window.history.back();
}
</script>

{% endblock %}